@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root{
    --colorBackground: #242C3C;
    --colorBlue: #0096D2;
    --colorPink: #F604FC;
    --colorWhite: #ffff;
    --font:"Baloo 2";
    --shadow:  0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    margin: 0;
    font-family: var(--font);
}

h1{
    margin: 0;
    padding: 0;
    color: white;
   
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
/*---tools--*/
.btn{
    width: 100%;
    padding: 1.5rem 0;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
}
.btn-pink{
    background-color: var(--colorPink);
    color: var(--colorWhite);
    font-size: 2rem;
}
.btn-blue{
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    font-size: 2rem;
}
.btn-icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.loginSpace{
margin: 2rem 0;
}

.submit{
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
}

.backLog{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.backLog__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--colorWhite);
}
.backSignUp{
    display: flex;
    justify-content: center;
}
/*-----Login-----*/
.signUp__back{
    width: 100%;
    height: 100vh;
    background-color: var(--colorBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp__form{
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
}
.signUp__form fieldset{
    border: 3px solid var(--colorPink);
    border-radius: 2rem;
    padding: 3rem 4rem;
}
.inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 2rem;
}
.input{
    display: flex;
    flex-direction: column;
}
.input label{
   color: var(--colorWhite);
}
.input input{
    border: none;
    background-color: var(--colorBackground);
    padding: 2rem 2rem;
    border: 2px solid var(--colorPink);
    border-radius: 10rem;
    color: var(--colorWhite);
    transition: .3s ease;
}
.input select{
    border: none;
    background-color: var(--colorBackground);
    padding: 2rem 2rem;
    border: 2px solid var(--colorPink);
    border-radius: 10rem;
    color: var(--colorWhite);
    transition: .3s ease;
    
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


  .input input:focus{
    outline: none;     
    border: 2px solid var(--colorBlue);
}

  .input select:focus{
    outline: none;     
    border: 2px solid var(--colorBlue);
}
.form__password{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 2rem;
}
.form__password label{
   text-align: center;
}

.form_Login{
    width: 100%;
    height: 100vh;
    background-color: #242C3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
}

.fieldset_Style{
    border: none;
    padding: 2rem 4rem;
    border: 4px solid var(--colorPink);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/*-----Other section-----*/
.form__logo{
    display: flex;
    justify-content: center;
    padding: 0rem 0rem 8rem 0rem;
}

.header{
    background-color: var(--colorBackground);
    padding: 2rem 0;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra img{
    width: 2rem;

}

.logo img{
    width: 5rem;
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.small-container{
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
}


.title{
    padding: .5rem 5rem;
    border: 3px solid var(--colorBlue);
    border-radius: 5rem;
}

.back{
    width: 15rem;
    margin: 0 auto;
    background-color: var(--colorBackground);
    display:flex;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem 0;
}
.back p{
    color: white;
}

.button{
    margin-top: 7rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.acnhoredButton{
    background-color: var(--colorPink);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
}

.acnhoredButton img{
    width: 3rem;
}

.acnhoredButton p{
    font-size: 4rem;
    margin: 0;
    color: white;
}

.normalButton{
    background-color: var(--colorBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
}

.normalButton img{
    width: 3rem;
}

.normalButton p{
    font-size: 4rem;
    margin: 0;
    color: white;
}

.squareContent{
    border: 3px solid var(--colorBlue);
    background-color: white;
    border-radius: 1rem;
    display: flex;
    height: 100px; 
    padding: 25rem 12rem;
    margin-top: 6rem;
}
.navegation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.options a{
    color: var(--colorWhite);
}
.important{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.important h2{
   font-size: 2.6rem; 
   text-align: center;}
.important h3{
    font-size: 2.5rem; 
    text-align: center;
 }

.importantPost{
    width: 50%;
    border: 4px solid var(--colorBlue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: var(--shadow);
}
.message{
    width: 90%;
    background-color: var(--colorBlue);
    padding: 2rem 8rem 15rem 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--colorWhite);
}
.card-container{
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
}
#titleForm{
    border: 3px solid var(--colorBlue);
    background-color: white;
    border-radius: .8rem;
    display: flex;
    height: 50px; 
    width: 560px;
    margin-top: -20rem;
}

#comentForm{
    border: 3px solid var(--colorBlue);
    background-color: white;
    border-radius: .8rem;
    display: flex;
    height: 270px; 
    width: 560px;
    margin-top: 4rem;
}

#buttonCreate{
    border: 3px solid var(--colorPink);
    border-radius: 4rem;
    background:var(--colorPink);
    color: white;
    width: 18rem;
    height: 4rem;
    margin-top: 1rem;
    align-content: center;
    margin-left: 20rem;
}


/*-----Admin-----*/

.search-section{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
text-align: center;
justify-content: center;
margin-top: 4rem;
}

.newPost{
    width: 50%;
    background-color: var(--colorBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--colorWhite);
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0 auto ;
}


.newPost p{
    margin: 0;
}

.input-search{
    display: flex;
    flex-direction: column;
}
.input-search label{
   color: var(--colorWhite);
}
.input-search input{
    border: none;
    background-color: transparent;
    padding: 2rem 2rem;
    border: 3px solid var(--colorBlue);
    border-radius: 10rem;
    color: var(--colorBlue);
    font-size: 2.2rem;
    transition: .3s ease;
}


.input-search input:focus{
    outline: none;     
    border: 3px solid var(--colorPink);
}
.posts-section{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 5rem;
}
.post{
    border: 4px solid var(--colorBlue);
    border-radius: 1rem;
    padding: 2rem 2rem;
    box-shadow: var(--shadow);
}

.post__header{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 2rem;
    margin-bottom: 2rem;
}
.header__info, .header__date{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.header__info img{
   width: 5rem;
}
.header__info p{
    margin: 0;
}
.header__date p{
    margin: 0;
}

.post__content{
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border-radius: 1rem;
    padding: 1rem;


}
.post__content p{
    height: 12rem;
    margin: 0;
}

.post__options{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.options__delete{
 background-color: #F55046;  
 display: flex; 
}
.options__edit{
 background-color: var(--colorBlue);  
 display: flex; 
 gap: 1rem;

}
.option{
    width: 10rem;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--colorWhite);
    cursor: pointer;
}